[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wtf = "*"
flask-login = "*"
flask-sqlalchemy = "*"
email-validator = "*"
itsdangerous = "*"
flask-mail = "*"
flask-uploads = "*"
flask-migrate = "*"
pymysql = "*"
wtforms-sqlalchemy = "*"
forgerypy = "*"
flask-admin = "*"

[dev-packages]

[requires]
python_version = "3.8"
