{% extends 'base.html' %}

{% block title %} Bookview {% endblock %}

{% block header %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

    <div class="row flex-column justify-content-center align-items-center" style="height:100%;">

        <!-- LOGIN FORM -->
        <div class="col-lg-4 col-8 border rounded p-5 justify-content-center">
            <form action="{% block form_action %} {% endblock %}" method="post" novalidate>
                {{ form.csrf_token }}
                <div class="row justify-content-center g-2">

                    <!-- LOGO -->
                    <div class="col-12">
                        <a href="{{ url_for('routes.index') }}"><h5 class="fw-bold fs-2 text-center mb-3 text-dark">BOOK<span class="text-warning lead">VIEW</span></h5></a>
                    </div>

                    {% block auth_body %}

                        <div class="col-12">
                            <h4 class="text-center fs-5 mb-3">Вход в аккаунт</h4>
                        </div>

                        <!-- LOGIN INPUT -->
                        <div class="col-12">
                            {{ form.login(class='form-control', placeholder=form.login.label.text) }}
                            {% for error in form.login.errors %}
                                <small class="form-text text-danger">
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>

                        <!-- PASSWORD INPUT -->
                        <div class="col-12">
                            {{ form.password(class='form-control', placeholder=form.password.label.text) }}
                            {% for error in form.password.errors %}
                                <small class="form-text text-danger">
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>

                        <div class="col-12 mt-0">
                            <small><a href="{{ url_for('routes.register') }}" class="text-primary">Забыли пароль?</a></small>
                        </div>

                        <!-- REMEMBER ME CHECKBOX -->
                        <div class="col-12">
                            {{ form.remember(class='form-check-input') }}
                            {{ form.remember.label }}
                        </div>

                        <!-- LINK TO REGISTRATION PAGE -->
                        <div class="col-12">
                            
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <div class="d-flex justify-content-between align-items-center">
                            <small><a href="{{ url_for('routes.register') }}" class="text-primary">Создать аккаунт</a></small>
                            {{ form.submit(class='btn btn-outline-primary') }}
                        </div>

                    {% endblock %}

                </div>

            </form>
        </div>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}