{% from "_macro.html" import load_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/style.css">
    <title>{% block title %} Bookview {% endblock %}</title>
</head>
<body>

<!-- CONTENT -->
<div class="content container p-5">

{% block content %}

    <div class="row flex-column justify-content-center align-items-center" style="height:100%;">

        {% for ctg, msg in get_flashed_messages(True) %}
            <div class="col-md-5 col-8 alert alert-{{ ctg }}">{{ msg }}</div>
        {% endfor %}

        <!-- LOGIN FORM -->
        <div class="col-lg-5 col-8 border rounded p-5 justify-content-center">
            {% block form %}
            <form action="{% block form_action %} {% endblock %}" method="post" novalidate>
                {{ form.csrf_token }}
            {% endblock %}

                <div class="row justify-content-center g-2">

                    <!-- LOGO -->
                    <div class="col-12">
                        <a href="{{ url_for('main.index') }}"><h5 class="fw-bold fs-2 text-center mb-3 text-dark">BOOK<span class="text-warning lead">VIEW</span></h5></a>
                    </div>

                    {% block auth_body %}

                        <div class="col-12">
                            <h4 class="text-center fs-5 mb-3">Вход в аккаунт</h4>
                        </div>

                        <!-- LOGIN INPUT -->
                        <div class="col-12">
                            {{ form.login(class='form-control', placeholder=form.login.label.text) }}
                            {% for error in form.login.errors %}
                                <small class="form-text text-danger">
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>

                        <!-- PASSWORD INPUT -->
                        <div class="col-12">
                            {{ form.password(class='form-control', placeholder=form.password.label.text) }}
                            {% for error in form.password.errors %}
                                <small class="form-text text-danger">
                                    {{ error }}
                                </small>
                            {% endfor %}
                        </div>

                        <div class="col-12 mt-0">
                            <small><a href="{{ url_for('authorization.register') }}" class="text-primary">Забыли пароль?</a></small>
                        </div>

                        <!-- REMEMBER ME CHECKBOX -->
                        <div class="col-12">
                            {{ form.remember(class='form-check-input') }}
                            {{ form.remember.label }}
                        </div>

                        <!-- LINK TO REGISTRATION PAGE -->
                        <div class="col-12">
                            
                        </div>

                        <!-- SUBMIT BUTTON -->
                        <div class="d-flex justify-content-between align-items-center">
                            <small><a href="{{ url_for('authorization.register') }}" class="text-primary">Создать аккаунт</a></small>
                            {{ form.submit(class='btn btn-outline-primary') }}
                        </div>

                    {% endblock %}

                </div>
            {% block form_end %}
            </form>
            {% endblock %}
        </div>
    </div>

{% endblock %}

</div>

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>