<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../static/style.css">
	<title>{% block title %} Bookview {% endblock %}</title>
</head>
<body>

<!-- SITE HEADER -->
{% block header %}
<header class="container-fluid shadow-sm">
	<div class="row">
		<div class="col-12 p-4 d-flex justify-content-center justify-content-md-start">
			<a href="{{ url_for('routes.index') }}" id="top"><h1 class="fw-bold display-6 mb-0 text-dark">BOOK<span class="text-warning lead">VIEW</span></h1></a>
		</div>
	</div>
</header>
{% endblock %}

<!-- NAVBAR -->
{% block navbar %}
<nav class="container-fluid shadow-sm" style="background-color: #ededed;">
	<div class="container p-4">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<form action="" method="post">
					<div class="d-flex align-items-center form-outline form-white">
						<input type="text" class="form-control" placeholder="Найти книгу">
						<i class="bi bi-search ms-2 text-dark"></i>
					</div>
				</form>
			</div>
		</div>
	</div>
</nav>
{% endblock %}

<!-- CONTENT -->
<div class="content container p-5">
{% block content %}

{% endblock %}
</div>

<!-- FOOTER -->
{% block footer %}
<footer class="container-fluid bg-secondary px-5 py-4 position-relative">
	<div class="row">

		

		<!-- CONTACTS -->
		<div class="col-md-4">
			<div class="d-md-flex flex-md-column flex-row text-light">

				<div class="mb-1">Как связаться с нами:</div>

				<div class="d-flex">
					<div class=""><a href="#"><i class="bi bi-instagram"></i></a></div>
					<div class="ms-2"><a href="#"><i class="bi bi-facebook"></i></a></div>
					<div class="ms-2"><a href="#"><i class="bi bi-telegram"></i></a></div>
				</div>

			</div>
		</div>

		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>

	<!-- GO TO THE TOP -->
	<a href="#top"><div class="position-absolute text-light fs-2 bottom-0 end-0 m-3 px-1 rounded bg-success"><i class="bi bi-arrow-up-circle"></i></div></a>
</footer>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>