<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../static/style.css">
	<title>{% block title %} Bookview {% endblock %}</title>
</head>
<body>

{% block header %}
<!-- SITE HEADER -->
<header class="container-fluid shadow-sm">
	<div class="row">
		<div class="col-12 px-4 py-2 d-flex justify-content-center justify-content-lg-start">
			<a href="{{ url_for('main.index') }}" id="top"><h1 class="fw-bold display-6 mb-0 text-dark">BOOK<span class="lead" style="color: #cc8d56;">VIEW</span></h1></a>
		</div>
	</div>
</header>
{% endblock %}

{% block navbar %}
<!-- NAVBAR -->
<nav class="container-fluid shadow-sm" style="background-color: #cc8d56;">
	<div class="container p-3">
		<div class="row justify-content-center">

			<!-- SEARCH INPUT -->
			<div class="col-lg-6">
				<form action="" method="post">
					<div class="d-flex align-items-center form-outline form-white">
						<input type="text" class="form-control border-0" placeholder="Найти книгу">
						<i class="bi bi-search ms-2 text-light"></i>
					</div>
				</form>
			</div>

		</div>
	</div>
</nav>
{% endblock %}

<!-- CONTENT -->
<div class="content container-fluid p-5">


		{% block sidebar %}
		<!-- SIDEBAR -->
		<div class="row">
		<div class="d-flex col-lg-3 justify-content-lg-end">
			<div>
				<div class="sticky-top">
					<div class="d-flex flex-column align-items-end px-4 border-end">

						{% if current_user.is_authenticated %}
							<!-- USERNAME AND PROFILE PIC -->
							<div class="d-flex align-items-center justify-content-start mb-3">
								<div class="user_photo rounded-circle" 
								style="background-image: url({{ url_for('static', filename='profile_img/' + current_user.profile_photo) }}); width: 30px; height:30px;">
								</div>
								<a href="#" class="text-dark"><span class="ms-2 fs-5">{{ current_user.username }}</span></a>
							</div>

							<div class="d-flex flex-column align-items-start">
								<!-- SETTINGS -->
								<div>
									<a href="{{ url_for('main.settings') }}" class="sidebar_link"><i class="bi bi-gear me-1"></i>Настройки</a>
								</div>

								<!-- EXIT -->
								<div>
									<a href="{{ url_for('authorization.logout') }}" class="sidebar_link"><i class="bi bi-box-arrow-left me-1"></i>Выход</a>
								</div>
						{% else %}
							<div class="d-flex flex-column align-items-start">
								<!-- LOG IN -->
								<div>
									<a href="{{ url_for('authorization.login') }}" class="sidebar_link"><i class="bi bi-box-arrow-in-right me-1"></i>Вход</a>
								</div>
							</div>
						{% endif %}
							</div>



					</div>	
				</div>
			</div>
		</div>
		{% endblock %}

		{% block content %}
		<div class="col-lg-9">
				

		</div>
		{% endblock %}

	</div>
</div>

{% block footer %}
<!-- FOOTER -->
<footer class="container-fluid px-5 py-4 position-relative" style="background-color: #8f8477;">
	<div class="row">

		<!-- CONTACTS -->
		<div class="col-md-4">
			<div class="d-md-flex flex-md-column flex-row text-light">

				<div class="mb-1">Как связаться с нами:</div>

				<div class="d-flex">
					<div class=""><a href="#"><i class="bi bi-instagram"></i></a></div>
					<div class="ms-2"><a href="#"><i class="bi bi-facebook"></i></a></div>
					<div class="ms-2"><a href="#"><i class="bi bi-telegram"></i></a></div>
				</div>

			</div>
		</div>

		<div class="col-md-4"></div>
		<div class="col-md-4"></div>
	</div>

</footer>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>