{% from '_macro.html' import load_field%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="../static/style.css">
	<title>{% block title %} Bookview {% endblock %}</title>
</head>
<body>

{% block header %}
<!-- SITE HEADER -->
<header class="container-fluid border-bottom">
	<div class="container">
		<div class="row">
			<div class="col-12 py-3 d-flex justify-content-center justify-content-lg-start">
				<a href="{{ url_for('main.index') }}" id="top"><h1 class="fw-bold display-6 mb-0 text-dark">BOOK<span class="lead text-warning">VIEW</span></h1></a>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block navbar %}
<!-- NAVBAR -->
<nav class="container-fluid bg-secondary">
	<div class="container py-2">
		<div class="d-flex flex-wrap justify-content-between">

			{% if current_user.is_authenticated %}
			<!-- USER'S PHOTO -->
			<div class="d-lg-flex d-none align-items-center justify-content-start">
				<div class="user_photo rounded-circle" 
				style="background-image: url({{ url_for('static', filename='profile_img/' + current_user.profile_photo) }}); width: 30px; height:30px;">
				</div>
				<a href="{{ url_for('main.profile', profile_id=current_user.id) }}" class="text-light lead ms-2 fs-5">{{ current_user.username }}</a>
			</div>

			<!-- COLLAPSE BUTTON -->
			<div class="d-lg-none d-flex align-items-center justify-content-start">
			  <a class="btn btn-secondary border" data-bs-toggle="collapse" href="#hidden_menu" role="button" aria-expanded="false" aria-controls="collapseExample">
			    <i class="bi bi-list"></i>
			  </a>
			</div>

			{% else %}
			<div class="d-lg-flex align-items-center justify-content-start">
				<!-- LOG IN -->
				<div>
					<a href="{{ url_for('authorization.login') }}" class="lead"><i class="bi bi-box-arrow-in-right me-1"></i>Войти</a>
				</div>
			</div>
			{% endif %}

			<!-- SEARCH INPUT -->
			<div class="d-flex">
				<form action="" method="post">
					<div class="d-flex align-items-center form-outline form-white">
						<input type="text" class="form-control border-0" placeholder="Найти отзыв">
						<i class="bi bi-search ms-2 text-light"></i>
					</div>
				</form>
			</div>

		</div>
	</div>
</nav>
{% endblock %}

<div class="container-fluid d-lg-none bg-light">
	<div class="collapse" id="hidden_menu">
		<div class="d-flex py-3 flex-column fs-4">
			{% if current_user.is_authenticated %}
				<!-- USER PROFILE -->
				<div class="mb-2">
					<a href=" {{ url_for('main.profile', profile_id=current_user.id) }} " class="sidebar_link"><i class="bi bi-person me-1"></i>Мой профиль</a>
				</div>
				<!-- SETTINGS -->
				<div class="mb-2">
					<a href="{{ url_for('main.settings') }}" class="sidebar_link"><i class="bi bi-gear me-1"></i>Настройки</a>
				</div>
			{% else %}
				<!-- EXIT -->
				<div class="">
					<a href="{{ url_for('authorization.logout') }}" class="sidebar_link"><i class="bi bi-box-arrow-left me-1"></i>Выход</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>

<!-- CONTENT -->
<div class="content">
	<div class="container">

			<div class="row">

				<!-- SIDEBAR -->
				{% block sidebar %}
				{% if current_user.is_authenticated %}
				<div class="col-lg-auto d-lg-flex d-none justify-content-lg-start me-2">
					<div>
						<div class="sticky-top pt-4">
						<div class="bg-light rounded p-3">
							<div class="d-flex flex-column align-items-end">
								<div class="d-flex flex-column align-items-start">
									<!-- PROFILE PAGE -->
									<div>
										<a href=" {{ url_for('main.profile', profile_id=current_user.id) }} " class="sidebar_link"><i class="bi bi-person me-1"></i>Мой профиль</a>
									</div>
									<!-- MAIN PAGE -->
									<div>
										<a href="{{ url_for('main.index') }}" class="sidebar_link"><i class="bi bi-house me-1"></i>Главная страница</a>
									</div>
									<!-- WRITE A NEW REVIEW -->
									<div>
										<a href="{{ url_for('book.write_review') }}" class="sidebar_link"><i class="bi bi-blockquote-right me-1"></i>Сделать запись</a>
									</div>
									<!-- ADD NEW BOOK -->
									<div>
										<a href="{{ url_for('book.add_book') }}" class="sidebar_link"><i class="bi bi-plus-circle me-1"></i>Добавить книгу</a>
									</div>
									<!-- SETTINGS -->
									<div>
										<a href="{{ url_for('main.settings') }}" class="sidebar_link"><i class="bi bi-gear me-1"></i>Настройки</a>
									</div>
									<!-- EXIT -->
									<div>
										<a href="{{ url_for('authorization.logout') }}" class="sidebar_link"><i class="bi bi-box-arrow-left me-1"></i>Выход</a>
									</div>
								</div>
							</div>	
						</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% endblock %}

		        <div class="col mt-4">
			        <div class="row row-cols-1">

		        	{% for ctg, msg in get_flashed_messages(True) %}
			            <div class="col alert alert-{{ ctg }}">{{ msg }}</div>
			        {% endfor %}

					{% block content %}
					<div class="col">
							
					</div>
					{% endblock %}

					</div>
				</div>

			</div>
	</div>
</div>

{% block footer %}
<!-- FOOTER -->
<footer class="container-fluid py-4 position-relative bg-secondary mt-4">
	<div class="container">
		<div class="row">

			<!-- CONTACTS -->
			<div class="col-md-4">
				<div class="d-md-flex flex-md-column flex-row text-light">

					<div class="mb-1">Как связаться с нами:</div>

					<div class="d-flex">
						<div class=""><a href="#"><i class="bi bi-instagram"></i></a></div>
						<div class="ms-2"><a href="#"><i class="bi bi-facebook"></i></a></div>
						<div class="ms-2"><a href="#"><i class="bi bi-telegram"></i></a></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</footer>
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>