{% extends 'base_auth.html' %}


{% block title %} Bookview | Новый пароль {% endblock %}

{% block form_action %} {{ url_for('settings.change_password') }} {% endblock %}

{% block auth_body %}

<!-- FORM TITLE -->
<div class="col-12">
    <h4 class="text-center fs-5 mb-3">Изменение пароля</h4>
</div>


<div class="col-12 pb-3 border-bottom">
	{{ load_field(form.old_password, class="form-control", placeholder=form.old_password.label.text) }}
</div>

<div class="col-12 mt-3">
	{{ load_field(form.new_password, class="form-control", placeholder=form.new_password.label.text) }}
</div>

<div class="col-12">
	{{ load_field(form.confirm_new_password, class="form-control", placeholder=form.confirm_new_password.label.text) }}
</div>

<!-- LINK TO LOGIN PAGE -->
<div class="col-12 mt-1">
    <small class="col-12"><a href="{{ url_for('main.settings') }}" class="text-primary">Вернуться в настройки</a></small>
</div>

<div class="col-12 d-flex justify-content-center align-items-center mt-4">
	{{ form.submit(class="btn btn-outline-primary") }}
</div>


{% endblock %}

{% block footer %}
{% endblock %}