{% extends 'base_auth.html' %}

{% block title %} Bookview | Login {% endblock %}

{% block form_action %} {{ url_for('routes.login') }} {% endblock %}

{% block auth_body %}
    
    <!-- FORM TITLE -->
    <div class="col-12">
        <h4 class="text-center fs-5 mb-3">Вход в аккаунт</h4>
    </div>

    <!-- LOGIN INPUT -->
    <div class="col-12">
        {{ form.login(class='form-control', placeholder=form.login.label.text) }}
        {% for error in form.login.errors %}
            <small class="form-text text-danger">
                {{ error }}
            </small>
        {% endfor %}
    </div>

    <!-- PASSWORD INPUT -->
    <div class="col-12">
        {{ form.password(class='form-control', placeholder=form.password.label.text) }}
        {% for error in form.password.errors %}
            <small class="form-text text-danger">
                {{ error }}
            </small>
        {% endfor %}
    </div>

    <!-- REMEMBER ME CHECKBOX -->
    <div class="col-12 d-flex mt-1 align-items-center">
        {{ form.remember(class='form-check-input me-1') }}
        {{ form.remember.label }}
    </div>

    <!-- SUBMIT BUTTON -->
    <div class="d-flex justify-content-center align-items-center">
        {{ form.submit(class='btn mt-3 btn-outline-primary', style="width: 40%;") }}
    </div>

    <!-- RECOVERY AND REGISTRATION LINKS -->
    <div class="col-12 mt-5 d-flex flex-column">
        <small><a href="{{ url_for('routes.recovery', option='login') }}" class="text-primary">Востановить логин</a></small>
        <small><a href="{{ url_for('routes.recovery', option='password') }}" class="text-primary">Забыли пароль?</a></small>
        <small><a href="{{ url_for('routes.register') }}" class="text-primary">Создать аккаунт</a></small>
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
