{% extends "base.html" %}

{% block title %} Bookview | Мой профиль {% endblock %}

{% block content %}
<div class="col-lg-9 bg-light p-4 rounded">
	<div class="row">

		<!-- ACCOUNT INFO -->
		<div class="col-12 pb-4 border-bottom">
			<div class="row align-items-center justify-content-center">

				<div class="col-md-3 d-flex align-items-center justify-content-md-center">
					<div class="col-12 rounded-circle user_photo" 
					style="background-image: url({{ url_for('static', filename='profile_img/' + current_user.profile_photo) }});">
					</div>
				</div>

				<div class="col-md-9">
					<div class="row justify-content-between">

						<div class="col-lg-12 d-flex flex-column mb-4">
							<div>
								<span class="fs-1 fw-light me-2">{{ current_user.username }}</span>
								<span class="text-secondary lead">@{{ current_user.login }}</span>
							</div>
							<div>
								Очень важный и уникальный статус, который был написан всего за несколько секунд!
							</div>
						</div>

						<div class="col-lg-12 d-flex">

							<div class="d-flex flex-column align-items-center p-2 me-3 border rounded">
								<span class="fw-bold">Рецензий</span>
								<span>52</span>
							</div>

							<div class="d-flex flex-column align-items-center p-2 border rounded">
								<span class="fw-bold">Рейтинг</span>
								<span class="text-success">512</span>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>

		<!-- REVIEWS -->
		<div class="col-12 p-0 my-4">
			<h4 class="fw-bold m-0">Рецензии</h4>
		</div>

		<div class="col-12">
			
		</div>

		<div class="card mb-3">
		  <div class="row">

		    <div class="col-md-3 book_cover" style="background-image: url({{ url_for('static', filename='book_covers/o.jpg') }});">
		    </div>

		    <div class="col-md-9">
		      <div class="card-body">
		        <h5 class="card-title">Card title</h5>
		        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
		        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
		      </div>
		    </div>

		  </div>
		</div>

	</div>
</div>
{% endblock %}