{% extends "base.html" %}

{% block title %} Bookview | Мой профиль {% endblock %}

{% block content %}

<div class="col bg-light p-4 pb-2 rounded">
	<div class="row">

		<!-- ACCOUNT INFO -->
		<div class="col-12 pb-4 border-bottom">
			<div class="row align-items-center justify-content-center">

				<div class="col-md-3 d-flex align-items-center justify-content-md-center">
					<div class="col-12 rounded-circle user_photo" 
					style="background-image: url({{ url_for('static', filename='profile_img/' + user.profile_photo) }});">
					</div>
				</div>

				<div class="col-md-9">
					<div class="row justify-content-between">

						<div class="col-lg-12 d-flex flex-column mb-4">
								<span class="fs-2 fw-light mb-0">{{ user.username }}</span>
								<span class="text-secondary lead">@{{ user.login }}</span>
						</div>

						<div class="col-lg-12 d-flex">

							<div class="d-flex flex-column align-items-center py-2 px-3 me-3 border rounded  bg-white">
								<span class="">Рецензий</span>
								<span>{{ user.reviews|count }}</span>
							</div>

							<div class="d-flex flex-column align-items-center py-2 px-3 border me-3 rounded bg-white">
								<span class="">Рейтинг</span>
								<span class="{% if likes - dislikes >= 0 %}text-success{% else %}text-danger{% endif %}">
									{{ likes - dislikes }}
								</span>
							</div>

							<div class="d-flex flex-column align-items-center py-2 px-4 border rounded bg-white">
								<span class="">Книг</span>
								<span>{{ user.books|count }}</span>
							</div>

						</div>

					</div>
				</div>

			</div>
		</div>

		<!-- REVIEWS -->
		<div class="col-12 my-4">
			<h4 class="fw-light m-0" id="reviews">Рецензии</h4>
		</div>

		<div class="col">
			<div class="container p-0">

				{% if user.reviews %}
					{% for review in user.reviews %}
						<div class="row row-cols-2 g-0 bg-white border rounded mb-3 shadow-sm">
							<div class="col-md-4">
								<div class="col book_cover rounded-start" style="background-image: url({{ url_for('static', filename='book_covers/'+review.book.cover) }}); height:100%">
		    					</div>	
							</div>

							<div class="col-md-8 p-3">
								<div class="mb-3">
									<div class="d-flex align-items-center justify-content-between">
				 						<h5 class="mb-0">{{ review.book.title }}</h5>
				 						<div class="d-flex">
				 							<a href="{{ url_for('book.delete_review', review_id=review.id, next='/profile/'~current_user.id )}}" class='sidebar_link'><i class="bi bi-trash"></i></a>
				 						</div>
				 					</div>
				 					<small class="text-secondary">{{ review.book.author }}</small>
				 				</div>

				 				<div class="mb-3">
				 					<p>
				 					{% if review.text|length < 350 %}
				 						{{ review.text }}
				 					{% else %}
				 						{{ review.text[:350]}} <span class='text-secondary'>(...)</span>
				 					{% endif %}
				 					<a href="{{ url_for('book.review', review_id=review.id) }}" class="link-primary">Читать</a>
				 					</p>
				 				</div>

				 				<div class="d-flex align-items-center justify-content-between">
				 					<div class="d-flex fs-4 align-items-center">
		 								<a href="{{ url_for('book.status_up', review_id=review.id, next='/profile/'~user.id) }}" 
		 								class='{% if review in current_user.likes %}liked{% else %}up_button{% endif %} me-2'>
		 									<i class="bi bi-chevron-up"></i>
		 								</a>
		 								<a href="{{ url_for('book.status_down', review_id=review.id, next='/profile/'~user.id) }}" 
		 								class='{% if review in current_user.dislikes %}disliked{% else %}down_button{% endif %} me-2'>
		 									<i class="bi bi-chevron-down"></i>
		 								</a>
		 								<!-- <a href="#" class="link-primary fs-6">Читать</a> -->
		 							</div>
		 							<div class="d-flex flex-column">
					 					<small class="text-secondary">{{ month_translate(review.date.strftime('%d %B, %Y')) }}</small>
					 					<small class="text-secondary">{{ review.date.strftime('%H:%M') }}</small>
				 					</div>
				 				</div>

							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="col-lg-12 mb-3">
						<small class="text-secondary">Здесь пока ничего нет, <a href="{{ url_for('book.write_review') }}" class="text-primary">сделайте свою первую запись</a></small>
					</div>
				{% endif %}

			</div>
		</div>

		

	</div>
</div>
{% endblock %}