{% extends 'base_auth.html' %}

{% block title %} Bookview | Восстановление пароля {% endblock %}

{% block form_action %} {{ url_for('routes.resset_password') }} {% endblock %}

{% block auth_body %}
    
    <!-- FORM TITLE -->
    <div class="col-12">
        <h3 class="text-center mb-3 fs-5">Восстановление пароля</h3>
    </div>

    <!-- EMAIL INPUT -->
    <div class="col-12">
        {{ form.email(class="form-control", placeholder=form.email.label.text)}}
        {% for error in form.email.errors %}
        <small class="form-text text-danger">
            {{ error }}
        </small>
        <br>
        {% endfor %}
    </div>

    <div class="col-12 mt-1">
        <p class="m-0" style="line-height: 1em;"><small class="text-secondary">Введите вашу почту, на которую мы отправим лист для востановления пароля.</small></p>
    </div>

    <!-- SUBMIT BUTTON  -->
    <div class="col-12 mt-5 d-flex justify-content-between align-items-center">
        <small><a href="{{ url_for('routes.login') }}" class="text-primary">Войти</a></small>
        {{ form.submit(class="btn btn-outline-primary")}}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
