{% extends 'base_auth.html' %}

{% block title %} Bookview | Регистрация {% endblock %}

{% block form_action %} {{ url_for('authorization.register') }} {% endblock %}

{% block auth_body %}
    
    <!-- FORM TITLE -->
    <div class="col-12">
        <h3 class="text-center mb-3 fs-5">Регистрация</h3>
    </div>

    <!-- LOGIN INPUT -->
    <div class="col-12">
        {{ form.login(class='form-control', placeholder=form.login.label.text) }}
        {% for error in form.login.errors %}
        <p class="m-0" style="line-height: 1em;">
            <small class="form-text text-danger">
                {{ error }}
            </small>
        </p>
        {% endfor %}
    </div>

    <!-- EMAIL INPUT -->
    <div class="col-12">
        {{ form.email(class='form-control', placeholder=form.email.label.text) }}
        {% for error in form.email.errors %}
        <p class="m-0" style="line-height: 1em;">
            <small class="form-text text-danger">
                {{ error }}
            </small>
        </p>
        {% endfor %}
    </div>

    <!-- PASSWORD INPUT -->
    <div class="col-12">
        {{ form.password(class='form-control', placeholder=form.password.label.text) }}
        {% for error in form.password.errors %}
        <p class="m-0" style="line-height: 1em;">
            <small class="form-text text-danger">
                {{ error }}
            </small>
        </p>
        {% endfor %}
    </div>

    <!-- CONFIRM PASSWORD INPUT -->
    <div class="col-12">
        {{ form.confirm_password(class='form-control', placeholder=form.confirm_password.label.text) }}
        {% for error in form.confirm_password.errors %}
        <p class="m-0" style="line-height: 1em;">
            <small class="form-text text-danger">
                {{ error }}
            </small>
        </p>
        {% endfor %}
    </div>

    <!-- LINK TO LOGIN PAGE -->
    <div class="col-12 mt-1">
        <small><a href="{{ url_for('authorization.login') }}" class="text-primary">Войти</a></small>
    </div>

    <!-- SUBMIT BUTTON -->
    <div class="d-flex justify-content-center mt-5">
        {{ form.submit(class='btn btn-outline-primary') }}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
