{% extends 'base_auth.html' %}

{% block title %} Bookview | Регистрация {% endblock %}

{% block form_action %} {{ url_for('authorization.register') }} {% endblock %}

{% block auth_body %}
    
    <!-- FORM TITLE -->
    <div class="col-12">
        <h3 class="text-center mb-3 fs-5">Регистрация</h3>
    </div>

    <!-- LOGIN INPUT -->
    <div class="col-12">
        {{ load_field(form.login, class='form-control', placeholder=form.login.label.text)}}
    </div>

    <!-- EMAIL INPUT -->
    <div class="col-12">
        {{ load_field(form.email, class='form-control', placeholder=form.email.label.text)}}
    </div>

    <!-- PASSWORD INPUT -->
    <div class="col-12">
        {{ load_field(form.password, class='form-control', placeholder=form.password.label.text)}}
    </div>

    <!-- CONFIRM PASSWORD INPUT -->
    <div class="col-12">
        {{ load_field(form.confirm_password, class='form-control', placeholder=form.confirm_password.label.text)}}
    </div>

    <!-- LINK TO LOGIN PAGE -->
    <div class="col-12 mt-1">
        <small><a href="{{ url_for('authorization.login') }}" class="text-primary">Войти</a></small>
    </div>


    <div class="col-12 mt-2">
        {{ load_field(form.recaptcha) }}
    </div>

    <!-- SUBMIT BUTTON -->
    <div class="d-flex justify-content-center mt-4">
        {{ form.submit(class='btn btn-outline-primary') }}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
