{% extends 'base_auth.html' %}

{% block title %} Bookview | Восстановление пароля {% endblock %}

{% block form_action %} {{ url_for('authorization.set_new_password', token=token) }} {% endblock %}

{% block auth_body %}
    
    <!-- FORM TITLE -->
    <div class="col-12">
        <h3 class="text-center mb-3 fs-5">Введите новый пароль</h3>
    </div>

    <!-- NEW PASSWORD INPUT -->
    <div class="col-12">
        {{ form.new_password(class="form-control", placeholder=form.new_password.label.text)}}
        {% for error in form.new_password.errors %}
        <small class="form-text text-danger">
            {{ error }}
        </small>
        <br>
        {% endfor %}
    </div>

    <!-- NEW PASSWORD CONFIRM INPUT -->
    <div class="col-12">
        {{ form.confirm_new_password(class="form-control", placeholder=form.confirm_new_password.label.text)}}
        {% for error in form.confirm_new_password.errors %}
        <small class="form-text text-danger">
            {{ error }}
        </small>
        <br>
        {% endfor %}
    </div>

    <!-- SUBMIT BUTTON  -->
    <div class="col-12 d-flex justify-content-center">
        {{ form.submit(class="btn btn-outline-primary mt-3")}}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}
