{% extends 'base.html' %}+


{% block title %} Bookview | Настройки {% endblock %}


{% block content %}

<!-- BOOTSTRAP MODAL WINDOW
LOAD USER PHOTO  
DONT PUT THIS IN THE ANOTHER PLACE DUE IT WILL NOT WORK. 
-->
<div class="modal fade" id="loadUserPhotoModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Выбор фото</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="{{ url_for('settings.load_photo_def') }}" method="post" enctype="multipart/form-data" novalidate>
					<div class="d-flex align-items-start justify-content-start">
						{{ load_photo_form.csrf_token }}
						{{ load_photo_form.photo(class='form-control form-control-sm') }}
						{{ load_photo_form.submit(class='btn btn-outline-primary btn-sm ms-2') }}
					</div>
				</form>
      </div>

    </div>
  </div>
</div>


<!-- BOOTSTRAP MODAL WINDOW
CHANGE USERNAME
DONT PUT THIS IN THE ANOTHER PLACE DUE IT WILL NOT WORK. 
-->
<div class="modal fade" id="changeUsernameModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Имя пользователя</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="{{ url_for('settings.change_username_def') }}" method="post" novalidate>
					<div class="d-flex align-items-start justify-content-start">
						{{ change_username_form.csrf_token }}
						{{ change_username_form.username(class='form-control form-control-sm', placeholder=change_username_form.username.label.text) }}
						{{ change_username_form.submit(class='btn btn-outline-primary btn-sm ms-2') }}
					</div>
				</form>
      </div>

    </div>
  </div>
</div>



<!-- SETTING PAGE -->
<div class="col">
	<div class="bg-light p-4 rounded">
	
	<div class="pb-3 align-items-top border-bottom">
	<div class="row">

		<!-- PROFILE PIC -->
		<div class="col-lg-3">
			<div class=" p-0 d-flex flex-column align-items-center justify-content-center">

				<div class="user_photo rounded-circle" style="background-image: url({{ url_for('static', filename='profile_img/' + current_user.profile_photo) }});">
					<div class="holder rounded-circle d-flex justify-content-center align-items-center">

						<!-- ACTIVATE MODAL WINDOW BUTTON -->
						<button type="button" class="btn click-btn-icon p-5 border-none" data-bs-toggle="modal" data-bs-target="#loadUserPhotoModal">
						  <i class="bi bi-camera-fill text-light fs-5"></i>
						</button>

					</div>
				</div>

				<div>
					<!-- LOAD PHOTO FORM'S ERRORS -->
					{% for error in load_photo_form.photo.errors %}
	            <small class="form-text text-danger m-0">
	                {{ error }}
	            </small>
	        {% endfor %}
				</div>

				<!-- DELETE PHOTO BUTTON -->
				<div class="mt-2">
					<form action="{{ url_for('settings.delete_photo_def') }}" method="post" novalidate>
						{{ delete_photo_form.csrf_token }}
						{{ delete_photo_form.submit(class='btn btn-outline-danger btn-sm', placeholder='Удалить фото')}}
					</form>
				</div>

			</div>
		</div>

		<!-- USER INFO -->
		<div class="col-lg-9">

			<div class="row g-3 lead">

				<!-- EMAIL -->
				<div class="col-lg-6">
					<div class="d-flex flex-column">
						<h5 class="text-secondary mb-0">Почта:</h5>
						<span>{{ current_user.email }}</span>
					</div>
				</div>

				<!-- USERNAME -->
				<div class="col-lg-6 d-flex flex-column">
					<h5 class="text-secondary mb-0">Имя пользователя:</h5>
					<div class="d-flex align-items-center">
						<span>{{ current_user.username }}</span>
						<!-- CHANGE USERNAME BUTTON -->
						<button class="click-btn-icon btn p-0 ms-2 click-btn-icon" type="button" data-bs-toggle="modal" data-bs-target="#changeUsernameModal">
						  <i class="bi bi-pencil fs-6 sidebar_link"></i>
						</button>
					</div>
					<!-- CHANGE USERNAME FORM'S ERRORS -->
	        {% for error in change_username_form.username.errors %}
	            <small class="form-text text-danger fs-6 m-0">
	                {{ error }}
	            </small>
	        {% endfor %}
				</div>

				<!-- LOGIN -->
				<div class="col-lg-6 d-flex flex-column">
					<h5 class="text-secondary mb-0">Логин:</h5>
					<span>@{{ current_user.login }}</span>
				</div>

				<!-- HELP LINKS -->
				<div class="col-lg-6 d-flex flex-column fs-6">
					<a href="{{ url_for('settings.change_password') }}" class="link-primary">Поменять пароль</a>
					<a href="{{ url_for('authorization.confirm_account') }}" class="link-primary">Подтвердить регистрацию аккаунта</a>
					<a href="{{ url_for('settings.delete_account') }}" class="link-danger">Удалить аккаунт</a>
				</div>

			</div>
		</div>

	</div>

	</div>

			<div class="col mt-4">
				<p class="mb-1">
					<small class="text-secondary">
						Скоро здесь появится что-то ещё!
					</small>
				</p>
			</div>
			
</div>
</div>

{% endblock %}