{% extends 'base.html' %}

{% block title %} Bookreview |{% if option == 'followers' %} Подписчики {% elif option == 'followed' %} Подписки {% endif %} {% endblock %}

{% block content %}

	<div class="col">
		<div class="bg-light p-4 rounded mb-1">
		<div class="row row-cols-1">

			<div class="col-12 pb-4 border-bottom mb-3">
				<h2 class="fw-light m-0">{% if option == 'followers' %}Подписчики{% elif option == 'followed' %}Подписки{% endif %}</h2>
			</div>

			{% if list_users.items %}
				{% for user in list_users.items %}
				<div class="col">
				<a href="{{ url_for('main.profile', profile_id=user.id) }}">
					<div class="pt-2 text-dark">
						<div class="d-flex bg-white rounded p-2 align-items-center justify-content-between">
							<div class="d-flex fs-4 align-items-center">
								<div class="{% if user.popularity >= 0 %}text-success {% else %} text-danger {% endif %} bg-white py-2 px-3 rounded lead me-2 border">
									{{ user.popularity }}
								</div>
								<div class="d-flex align-items-center justify-content-start">
									<div class="user_photo rounded-circle" 
									style="background-image: url({{ url_for('static', filename='profile_img/' + user.profile_photo) }}); width: 45px; height:45px;">
									</div>
									<div class="d-flex flex-column">
										<span class="text-dark lead ms-2 fs-5">{{ user.username }}</span>
										<span class="link-secondary lead ms-2 fs-6">@{{ user.login }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</a>
				</div>
				{% endfor %}
			{% else %}
				<div class="col p-2">
					<p class="m-0 text-secondary">
						<small>
						{% if option == 'followers' %}
							На {{ user.username }} ещё никто не подписан.
						{% else %}
							{{ user.username }} пока ни на кого не подписался.
						{% endif %}
						</small>
					</p>
				</div>
			{% endif %}

		</div>
		</div>
	</div>

	{% if list_users.items and list_users.pages > 1 %}
		<div class="col">
		<div class=" my-3 bg-light rounded p-3 mt-3 mb-0">
		{% for page in list_users.iter_pages(left_edge=2, right_edge=2, left_current=3, right_current=3) %}
			{% if list_users.page == page %}
				<a href="{{ url_for('main.users_list', page=page, username=username) }}" class="link-dark me-1">{{ page }}</a>
			{% elif page %}
				<a href="{{ url_for('main.users_list', page=page, username=username) }}" class="link-primary me-1">{{ page }}</a>
			{% endif %}
		{% endfor %}
		</div>
		</div>
	{% endif %}

{% endblock %}

