body {
	display: flex;
	flex-direction: column;
}
html, body {
	height: 100%;
}

.content {
	flex-grow: 1;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	transition: 0.2s all ease-out;
}

a:hover {
	color: white;
}

.sidebar_link {
	color: #a1a1a1;
	transition: 0.1s all ease-in;
}

.sidebar_link:hover {
	color: #212529;
}

.user_photo {
	width: 175px;
	height: 175px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.holder {
	opacity: 0;
	height: 100%;
	width: %;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.2s all ease-out;
}

.user_photo:hover .holder {
	opacity: 1;
}

.user_photo:hover .holder button {
	opacity: 1;
}

.click-btn-icon:focus, .click-btn-icon {
	box-shadow: none;
	outline: none;
}

.book_cover {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.hidden_link {
	color: #4a4a4a;
	transition: 0.1s all ease-in;
}

.hidden_link:hover {
	color: white;
}