body {
	display: flex;
	flex-direction: column;
}
html, body {
	height: 100%;
}

p {
	word-wrap: break-word;
	line-height: 1.25em;
}

textarea {
	resize: none
}

.content {
	flex-grow: 1;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	transition: 0.2s all ease-out;
}

a:hover {
	color: white;
}

.sidebar_link, .up_button, .down_button, .disliked:hover, .liked:hover {
	color: #a1a1a1;
	transition: 0.1s all ease-in;
}

.sidebar_link:hover {
	color: #212529;
}

.user_photo {
	width: 175px;
	height: 175px;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

br+br{
	display:none
}

.holder {
	opacity: 0;
	height: 100%;
	width: %;
	background: rgba(0, 0, 0, 0.4);
	transition: 0.2s all ease-out;
}

.user_photo:hover .holder {
	opacity: 1;
}

.user_photo:hover .holder button {
	opacity: 1;
}

.click-btn-icon:focus, .click-btn-icon {
	box-shadow: none;
	outline: none;
}

.book_cover {
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.hidden_link {
	color: #4a4a4a;
	transition: 0.1s all ease-in;
}

.hidden_link:hover {
	color: white;
}

.delete_btn {
	color: grey;
	transition: 0.2s all ease-out;
	cursor: pointer;
}

.delete_btn:hover {
	color: black;
}

.up_button:hover, .liked  {
	color: #55b56f;
}

.down_button:hover, .disliked {
	color: #c94957;
}

